#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: var(--color-neutral-1);;
}

#cta .title span {
    color: var(--color-primary-6);
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-1);;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-content;
}

.shape {
    background-color: var(--color-primary-2);
    width: 50%;
    height: 100%;
    position: sticky;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 0; /* Ajuste para que fique atrás do cabeçalho */
    transition: opacity 0.5s ease; /* Para uma transição suave */
}

/* Quando o cabeçalho estiver fixo, esconda a shape */
header.fixed + .shape {
    opacity: 0; /* Oculta a forma */
    pointer-events: none; /* Impede interações */
}


@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}

#pratos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prato {
    perspective: 1000px;
    margin: 20px;
    width: 500px;  /* Mantendo a largura do card */
    height: 600px; /* Mantendo a altura do card */
    display: flex;
}

.prato-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.prato-front, .prato-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.prato-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.prato-back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
}

.prato.active .prato-inner {
    transform: rotateY(180deg);
}

.prato-image {
    width: 100%;
    height: 70%; /* Ajustando altura para manter proporção */
    object-fit: cover;
}

.prato-details {
    padding: 10px;
    text-align: justify;
}

.btn-default {
    margin-top: 10px;
}

.prato-heart {
    position: absolute;
    /* background-color: #FFFFFF; ADICIONAR COR ATRÁS DO CORAÇÃO SE ACHARMOS NECESSÁRIO*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #FF0000;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}